@media screen and (max-width: 456px) {
  p {
    margin: 0;
  }
  main {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  /* *DASHBOARDS WITH CARD - BENTO */
  .data-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 15px 0 15px;
  }
  .data-person > a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #000;
    transition: transform 0.3s ease-in-out;
  }
  .data-person > a > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    background-color: #ffffff;
    position: relative; /* Positionnement relatif pour le pseudo-élément */
    overflow: hidden; /* Masque le débordement du pseudo-élément */
    box-shadow: lightgray 0 0 10px 1px;
    border-radius: 5px;
  }
  .data-person > a > div > img {
    width: 10%;
    transition: transform ease-in-out 0.5s; /* Transition pour l'état normal */
    transform: rotate(0deg) scale(1); /* État normal : pas de rotation ni de zoom */
  }
  .data-person > a > div > * {
    z-index: 1;
  }

  /* other cards */
  .data-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 15px 0 15px;
  }
  .data-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .data-page > a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #000;
  }
  .data-page > a > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    background-color: #f8f8f8;
    position: relative; /* Positionnement relatif pour le pseudo-élément */
    overflow: hidden; /* Masque le débordement du pseudo-élément */
    box-shadow: lightgray 0 0 10px 1px;
    border-radius: 5px;
  }
  .data-page > a > div > img {
    width: 10%;
    transition: transform ease-in-out 0.5s; /* Transition pour l'état normal */
    transform: rotate(0deg) scale(1); /* État normal : pas de rotation ni de zoom */
  }
  .data-page > a > div > * {
    z-index: 1;
  }
}

@media screen and (min-width: 456px) {
  p {
    margin: 0;
  }
  main {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  /* *DASHBOARDS WITH CARD - BENTO */
  .data-person {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 15px 0 15px;
  }
  .data-person > a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #000;
    transition: transform 0.3s ease-in-out;
  }
  .data-person > a > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    background-color: #ffffff;
    position: relative; /* Positionnement relatif pour le pseudo-élément */
    overflow: hidden; /* Masque le débordement du pseudo-élément */
    box-shadow: lightgray 0 0 10px 1px;
    border-radius: 5px;
  }
  .data-person > a > div::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0; /* Commence hors de la vue */
    background: linear-gradient(0deg, #fef9d9, #9ad1ff);
    transition: top 0.7s ease; /* Transition douce */
    z-index: 0; /* Derrière le contenu */
    clip-path: ellipse(100% 70% at 50% 100%); /* Forme d'onde */
  }
  .data-person > a > div:hover::before {
    top: 0; /* Remplit l'élément */
  }
  .data-person > a > div > img {
    width: 10%;
    transition: transform ease-in-out 0.5s; /* Transition pour l'état normal */
    transform: rotate(0deg) scale(1); /* État normal : pas de rotation ni de zoom */
  }
  .data-person > a > div > img:hover {
    width: 10%;
    transition: transform ease-in-out 0.5s; /* Transition pour le filtre et la transformation */
    transform: rotate(180deg) scale(1.3); /* Rotation de 180 degrés et zoom de 10% lors du survol */
  }
  .data-person > a > div > * {
    z-index: 1;
  }

  /* other cards */
  .data-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 0 15px 0 15px;
  }
  .data-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .data-page > a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #000;
    transition: transform 0.3s ease-in-out;
  }
  .data-page > a > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    background-color: #ffffff;
    position: relative; /* Positionnement relatif pour le pseudo-élément */
    overflow: hidden; /* Masque le débordement du pseudo-élément */
    box-shadow: lightgray 0 0 10px 1px;
    border-radius: 5px;
  }
  .data-page > a > div:hover {
    background-color: #fef9d9;
    transition: background-color ease-in-out 0.5s;
  }
  .data-page > a > div > img {
    width: 10%;
    transition: transform ease-in-out 0.5s; /* Transition pour l'état normal */
    transform: rotate(0deg) scale(1); /* État normal : pas de rotation ni de zoom */
  }
  .data-page > a > div > img:hover {
    width: 10%;
    transition: transform ease-in-out 0.5s; /* Transition pour le filtre et la transformation */
    transform: rotate(180deg) scale(1.3); /* Rotation de 180 degrés et zoom de 10% lors du survol */
  }
  .data-page > a > div > * {
    z-index: 1;
  }
}
