main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main > p {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  padding: 20px;
}

.create_map_container {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px; /* Limite la largeur du formulaire */
  padding: 20px;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
form > section {
  display: flex;
  flex-direction: row;

  gap: 20px;
}
form > section > button {
  border: none;
  box-shadow: lightgray 0 5px 15px 0;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--mediumblue);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form > section > div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: solid 1px lightblue;
  background-color: white;
  width: 25rem;
}
form > section > div > p {
  text-align: center;
  font-weight: 700;
  margin: 10px;
  text-decoration: underline;
  font-style: oblique;
}

form > section > div > label {
  text-align: center;
}
form > section > div > input {
  height: 40px;
  border: none;
  background-color: #f8f8f8;
  box-shadow: inset lightgray 0 5px 10px 0;
  border-radius: 5px;
  padding: 0 10px 0 10px;
}

.img_input {
  border: none;
  background-color: transparent;
  box-shadow: none;
  border-radius: 5px;
  padding: 0 10px 0 10px;
}
form > section > div > select {
  height: 40px;
  border: solid 1px lightblue;
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 0 10px 0 10px;
}
