body {
    height: 100vh;
    overflow: hidden; 
  }

  .board {
    height: 50vh; 
    overflow-y: auto;
    margin: 20px; 
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead, tbody, td {
    border: solid black 1px;
    text-align: center;
  }
  .lien-ajout{
    margin-left: 10%;
    text-decoration: none;
  }
  h1{
    margin-bottom: 100px;
    text-align: center;
    font-family: 'Poppins', sans-serif; 
    color: #2F4F4F;
  }
  