@media screen and (min-width: 456px) {
  .main-container {
    display: flex;
    flex-direction: row;
    gap: 50px; /* Espace entre les colonnes */
    padding: 70px 20px 20px 20px;
  }
  .main-article {
    padding: 5px 25px 5px 25px;
    border-radius: 5px;
    border: none;
  }
  .title-news {
    text-align: left;
    font-size: 35px;
  }

  .pic_container {
    display: flex;
    justify-content: center;
    background-color: aqua;
    width: 100%;
  }
  .news-pic {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  /* ---------- */
  aside > div {
    width: 300px;
    height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }

  article {
    display: flex;
    flex-direction: column; /* Aligne les éléments en colonne */
    background-color: white;
    border: solid var(--darkblue) 1px;
  }

  article > a {
    text-decoration: none; /* Enlève le soulignement */
    text-align: center;
  }

  article > a > img {
    width: 100%; /* L'image prend toute la largeur de l'article */
    height: auto; /* Ajuste la hauteur pour garder le ratio */
  }

  article > a > h3 {
    padding: 10px; /* Ajoute un peu d'espace autour du titre */
    margin: 0; /* Enlève la marge par défaut */
    text-align: center; /* Centre le texte */
  }

  /* Style de la barre de défilement */
  aside > div::-webkit-scrollbar {
    width: 7px; /* Largeur de la barre de défilement */
  }

  /* Style de la piste */
  aside > div::-webkit-scrollbar-track {
    background: transparent; /* Couleur de la piste */
  }

  /* Style du pouce (la partie qui se déplace) */
  aside > div::-webkit-scrollbar-thumb {
    background: gray; /* Couleur du pouce */
    border-radius: 150px;
  }

  /* Style du pouce au survol */
  aside > div::-webkit-scrollbar-thumb:hover {
    background: #555; /* Couleur au survol */
  }
}

@media screen and (max-width: 456px) {
  .main-container {
    display: flex;
    flex-direction: column;
    gap: 50px; /* Espace entre les colonnes */
    padding: 70px 20px 20px 20px;
  }
  .main-article {
    padding: 5px 25px 5px 25px;
    border-radius: 5px;
    border: none;
  }
  .title-news {
    text-align: left;
    font-size: 35px;
  }

  .pic_container {
    display: flex;
    justify-content: center;
    background-color: aqua;
    width: 100%;
  }
  .news-pic {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  /* ---------- */
  aside > div {
    width: 300px;
    height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }

  article {
    display: flex;
    flex-direction: column; /* Aligne les éléments en colonne */
    background-color: white;
    border: solid var(--darkblue) 1px;
  }

  article > a {
    text-decoration: none; /* Enlève le soulignement */
    text-align: center;
  }

  article > a > img {
    width: 100%; /* L'image prend toute la largeur de l'article */
    height: auto; /* Ajuste la hauteur pour garder le ratio */
  }

  article > a > h3 {
    padding: 10px; /* Ajoute un peu d'espace autour du titre */
    margin: 0; /* Enlève la marge par défaut */
    text-align: center; /* Centre le texte */
  }

  /* Style de la barre de défilement */
  aside > div::-webkit-scrollbar {
    width: 7px; /* Largeur de la barre de défilement */
  }

  /* Style de la piste */
  aside > div::-webkit-scrollbar-track {
    background: transparent; /* Couleur de la piste */
  }

  /* Style du pouce (la partie qui se déplace) */
  aside > div::-webkit-scrollbar-thumb {
    background: gray; /* Couleur du pouce */
    border-radius: 150px;
  }

  /* Style du pouce au survol */
  aside > div::-webkit-scrollbar-thumb:hover {
    background: #555; /* Couleur au survol */
  }
}
