.ressource-details-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
}

.ressource-details-row {
  margin-bottom: 20px;
}

.ressource-details-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.ressource-details-img {
  width: 50%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 40% 20% / 30% 10%;
}

.ressource-details-type img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.ressource-details-type {
  font-size: 1.2em;
  text-align: center;
  margin-top: 10px;
}
.ressources_details_type_title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: last baseline;
}

.ressource-details-main {
  border: solid 1px lightgray;
  margin: 20px 150px 20px 150px;
  padding: 1% 5%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.ressource-details-description {
  margin: 20px 100px 20px 100px;
}

.ressources-precaution-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.ressource-details-precautions h3 {
  font-size: 1.4em;
  font-weight: bold;
}

.ressource-details-precautions p {
  font-size: 1.1em;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Conservation Bar */
.conservation-bar-container {
  margin: 0 auto 20px auto;
  width: 50%;
  text-align: center;
}

.conservation-bar {
  width: 80%;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
}

.conservation-bar-fill {
  height: 100%;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.conservation-levels {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 0.9em;
}

.ressource-details-error {
  color: red;
  text-align: center;
  font-size: 1.2em;
}

/* ------------- */
.other_ressources {
  margin: 25px;
  padding: 25px 0 25px 0;
}

.slider {
  position: relative; /* Important pour que les pseudo-éléments soient positionnés par rapport au slider */
  padding-bottom: 25px;
  border: var(--lighgreen) solid 1px;
}

.slider_elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px; /* Espacement entre les cartes */
  overflow-x: auto; /* Défilement horizontal activé */
  overflow-y: hidden;
  height: 300px;
  padding: 25px;
  scroll-padding-left: 25px; /* Assure que la première carte ne soit pas coupée au bord */
  position: relative; /* Nécessaire pour que les pseudo-éléments couvrent le slider */
}

.card_trails {
  padding: 10px;
  box-shadow: lightgray 0 5px 15px 0;
  border-radius: 50% 20% / 10% 40%;
  background-color: white;
}

.pic-slider {
  border-radius: 50% 20% / 10% 40%;
}