.subscription{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: auto;
    border: 2px solid black;
    background: linear-gradient(to right, #ADD8E6, #E6E6FA);
    margin: auto;
    border-radius: 5px;

}

h2{
    text-align: center;
}

h3,p{
    margin-left: 3%;
    font-family: 'Poppins', sans-serif; 
    line-height: 1.6; 
    color: #2F4F4F;
}
h4{
    margin-left: 50px 50px;
}

.link{
    display: flex;
    align-items: center;
    margin-left: 100px;
    color: inherit;
    text-align: center;
}   
.icon{
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 50%;
}

.link:hover .icon{
    transform: scale(1.2);
}