.subscription{
    width: 30%;
    height: 33%;
    border: 2px solid black;
    background: linear-gradient(to right, #ADD8E6, #E6E6FA);
    margin-left: 100px;
}
h3,p{
    margin-left: 10%;
    font-family: 'Poppins', sans-serif; 
    line-height: 1.6; 
    color: #2F4F4F;
}
h4{
    margin-left: 100px 50px;
}
h2{
    margin: 40px 100px;
    
}
.link{
    margin-left: 100px;
}   