p {
  margin: 0;
}

/* ----- */
header {
  background-color: #f8f8f8;
  padding: 5px 5px 0 5px;
}

.nav-admin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav-admin > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.name-admin {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.icon-admin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 0 20px 0 0;
}
.pic-nav-admin {
  width: 40px;
}
.data-admin {
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 0;
}
.data-admin > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.data-admin > div > button {
  background-color: #ffffff00;
  border: none;
  cursor: pointer;
  color: none;
}
