.nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.ul-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.ul-header > li {
  list-style: none;
}
.weather-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
