#calendar {
    max-width: 400px;
    max-height: 400px;
}
.calendar-item {
        background-color: white;
        padding: 10px;
        margin: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;}

.calendar-form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.date-fields {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.date-field {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.persons-field {
    margin-bottom: 20px;
}

/* Titre et image sur la même ligne */
.title-and-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.campsite-title {
    font-size: 28px;
    color: #333;
    margin: 0;
    padding-right: 20px;
}

.calendar-info {
    display: flex;
    align-items: center;
}

.calendar-img {
    width: 200px; 
    height: auto;
    max-height: 150px; 
    object-fit: cover;
    border-radius: 8px;
}

/*Barre d'outils */
.fc-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fc-toolbar-title {
    padding-left: 10px !important;
    font-size: 24px !important; 
    color: #2c3e50 !important; 
}

.fc-day-today {
    background-color: var(--lightgreen) !important; 
    color: #ffffff !important;
}

/* En-têtes des jours (lundi, mardi, etc.) */
.fc .fc-col-header-cell {
    background-color: var(--darkblue) !important;
    color: #ecf0f1 !important; 
    font-weight: bold !important;
    font-size: 12px !important;
    text-transform: capitalize;
}

.fc .fc-col-header-cell a {
    color: #ecf0f1 !important;
}

/* Boutons de navigation */
.fc-prev-button, .fc-next-button, .fc-today-button {
    border: none !important;
    padding: 8px 16px !important;
    background-color: #3498db !important; 
    color: #ffffff !important;
    border-radius: 5px !important;
    margin: 4px !important;
}

.fc-prev-button, .fc-next-button {
    background-color: #2980b9 !important; 
}

/* Couleur des événements */
.fc-event {
    color: #ffffff !important; 
}

.fc {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
}

.fc .fc-col-header-cell-cushion {
    padding: 10px !important;
}

.fc .fc-daygrid-day-number {
    font-size: 14px !important;
    color: #2c3e50 !important;
}

.fc-daygrid-day.fc-day-selected {
    background-color: #3498db !important; /* Couleur pour les jours sélectionnés */
    color: #ffffff !important;
}

/* Réduire la taille des cases de jour */
.fc-daygrid-day-frame {
    min-height: 50px !important; /* Hauteur minimale des cellules */
    height: 50px !important; 
}

@media (max-width: 768px) {
    .calendar-item {
        flex: 1 1 100%;
    }
}