
.camping-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 0;
}

/* "card" des campings */
.camping-item {
    background-color: #f1fbfd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.camping-item img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.campsite-name {
    color: var(--darkblue);
    font-size: 25px; /* Taille ajustée pour le titre du camping */
    text-align: center;
    font-family: var(--font-Archivo);
    font-weight: normal;
}

.campsite-name a:visited {
    color: #2c4f75 !important; 
}

.campsite-name a:hover {
    text-decoration: underline !important; 
}


.camping-item p {
    font-size: 1em;
    line-height: 1.6;
}

.campsite-subtitle {
    color: var(--mediumblue);
    font-size: 35px;
    text-align: center;
    font-family: var(--font-Archivo);
    font-weight: normal; 
}
