/* *Style pour l'ensemble du filtre présent en haut de la page */
.filter,
.active-filter,
.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/* *Switch bouton pour les campping ouvert et fermé */
.switch-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.checkbox {
  display: none;
}
.btn-switch {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 30px;
  background-color: lightgray;
  border-radius: 16px;
}
.btn-switch::before {
  content: "";
  background-color: gray;
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  top: 2.5px;
  left: 4px;
}
.btn-switch:hover {
  cursor: pointer;
}
.checkbox:checked + .btn-switch::before {
  left: 32px;
  background-color: green;
}
