.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.active-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
