.widget {
  width: 500px;
  padding: 10px;
  border-radius: 5px;

  list-style: none;
  gap: 15px;
  flex-direction: column;
  display: flex;

  /* pour changer la couleur du background du widget */
  background: linear-gradient(145deg, #feffd2, #d4f6ff);
}

.weather_hr {
  width: 100%;
}

.current_date {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.current_date > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  align-items: center;
}
.current_weather {
  width: 15rem;
}

.temperature {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  align-items: center;
  font-size: 20px;
}
.temperature > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.prevision {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 25px;
}
.prevision_container_data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.prevision_data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.prevision_data > div {
  display: flex;
  flex-direction: row;
}